In [1]:
import sys
import os

import pandas as pd
import numpy as np

# Load simulation source code
source_dir = "../src"
sys.path.insert(0, source_dir)
from simulations import get_peak_day

### Varying Lambda

In [2]:
OUT_DIR = "../figures"
CURR_DIR = "notebooks"
RESULTS_DIR = "../sim_results/effects_of_lambda"
# Ensure we are in the data_analysis directory for paths to work
if os.path.basename(os.getcwd()) != CURR_DIR:
    raise Exception(f"Must run this script from the `{CURR_DIR}` directory!")

### Load simulation results ###
totals_df = pd.read_csv(os.path.join(RESULTS_DIR, "total_infected.csv"))
by_day_df = pd.read_csv(os.path.join(RESULTS_DIR, "daily_infected.csv"))

In [5]:
totals_df

    total_ord_inf  total_mis_inf  lambda      diff  total_inf  total_extra
0        0.283461       0.283894    1.00  0.000433   0.567354     0.000000
1        0.316970       0.350941    1.20  0.033971   0.667911     0.100557
2        0.334341       0.394537    1.40  0.060197   0.728878     0.161524
3        0.344936       0.424638    1.60  0.079702   0.769573     0.202219
4        0.351958       0.445911    1.80  0.093953   0.797869     0.230514
5        0.356824       0.461104    2.00  0.104280   0.817928     0.250573
6        0.360292       0.472021    2.20  0.111729   0.832313     0.264958
7        0.362815       0.479896    2.40  0.117081   0.842710     0.275356
8        0.364680       0.485589    2.60  0.120909   0.850268     0.282914
9        0.366077       0.489707    2.80  0.123629   0.855784     0.288430
10       0.367138       0.492682    3.00  0.125544   0.859821     0.292466
11       0.368382       0.495887    3.33  0.127505   0.864269     0.296915

In [3]:
print(f"Total extra infections incurred by misinformed group: {totals_df['diff'].max() : .1%}")

Total extra infections incurred by misinformed group:  12.8%

In [4]:
print(f"Total extra infections incurred by network (lambda 1 vs lambda 4): {totals_df['total_extra'].max() : .1%}")

Total extra infections incurred by network (lambda 1 vs lambda 4):  29.7%

In [5]:
for group in ['misinformed', 'ordinary']:
    temp_slice = by_day_df[(by_day_df['lambda'] == 4) & (by_day_df['group'] == group)]
    peak_day = get_peak_day(temp_slice['value'])
    print(f"Peak day for {group} group: {peak_day}")

Peak day for misinformed group: 20
Peak day for ordinary group: 23

In [6]:
combined_by_day = by_day_df[by_day_df['group'] == "combined"].reset_index(drop = True)

lambda4 = combined_by_day[combined_by_day['lambda'] == 4]
lambda1 = combined_by_day[combined_by_day['lambda'] == 1]

lambda4_peak_day = get_peak_day(lambda4['value'])
lambda1_peak_day = get_peak_day(lambda1['value'])

print(f"Network peak, lambda = 4: {lambda4_peak_day} days")
print(f"Network peak, lambda = 1: {lambda1_peak_day} days")
print(f"Network peak, difference: {lambda1_peak_day - lambda4_peak_day} days")

      day  lambda         value     group
0       1     1.0  1.000000e-03  combined
1       2     1.0  1.099700e-03  combined
2       3     1.0  1.209241e-03  combined
3       4     1.0  1.329574e-03  combined
4       5     1.0  1.461737e-03  combined
...   ...     ...           ...       ...
1595   96     4.0  1.592363e-06  combined
1596   97     4.0  1.343271e-06  combined
1597   98     4.0  1.133144e-06  combined
1598   99     4.0  9.558867e-07  combined
1599  100     4.0  8.063579e-07  combined

[1600 rows x 4 columns]